html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-custom {
    background-color: #0FC2C0;
    border-bottom-color: #008F8C;
}

.nav-link-custom {
    color: #023535;
}

    .nav-link-custom:hover {
        color: #0CABA8;
    }

.footer-custom {
    background-color: #015958;
    color: #ffffff;
}

    .footer-custom a {
        color: #0FC2C0;
    }

        .footer-custom a:hover {
            color: #0CABA8;
        }